---
import Performer from "../Performer.astro"
---

<div class="flex flex-col gap-12 xl:gap-5 p-3">
    <Performer
        name="vein"
        img1="vein"
        img2="NOIMG"
        start={{hr: 18, mn: 0}}
        invert={false}
        vol={4}
    ></Performer>
    <Performer
        name="YBB! & 可ノウ　星"
        img1="ybb"
        img2="kanohoshi"
        start={{hr: 18, mn: 25}}
        invert={false}
        vol={4}
    ></Performer>
    <Performer
        name="sekizuihan"
        img1="sekizuihan"
        img2="NOIMG"
        start={{hr: 18, mn: 50}}
        invert={false}
        vol={4}
    ></Performer><Performer
        name="高島 & きむらこうや"
        img1="takashima"
        img2="kimura-koya"
        start={{hr: 19, mn: 15}}
        invert={false}
        vol={4}
    ></Performer>
    <Performer
        name="Jin Nariyama"
        img1="jinnariyama"
        img2="NOIMG"
        start={{hr: 19, mn: 40}}
        invert={false}
        vol={4}
    ></Performer>
    <Performer
        name="Frank & sbm"
        img1="Frank-square"
        img2="sbm"
        start={{hr: 20, mn: 5}}
        invert={false}
        vol={4}
    ></Performer>
    <Performer
        name="M4ss0 & saina"
        img1="M4SS0"
        img2="saina"
        start={{hr: 20, mn: 30}}
        invert={false}
        vol={4}
    ></Performer>
</div>