---
import Performer from "../Performer.astro"

const vol = 5

---

<div class="flex flex-col gap-12 xl:gap-5 p-3">
    <Performer
        name="Kosei Nakajima"
        img1="kosei_nakajima_1"
        img2="NOIMG"
        start={{hr: 15, mn: 40}}
        invert={false}
        vol={vol}
    ></Performer>
    <Performer
        name="こん"
        img1="kondou"
        img2="NOIMG"
        start={{hr: 16, mn: 20}}
        invert={false}
        vol={vol}
    ></Performer>
    <Performer
        name="反発"
        img1="manasikatama"
        img2="ruito_hasegawa"
        start={{hr: 17, mn: 0}}
        invert={false}
        vol={vol}
    ></Performer><Performer
        name="HitaHita"
        img1="hitahita"
        img2="NOIMG"
        start={{hr: 17, mn: 40}}
        invert={false}
        vol={vol}
    ></Performer>
    <Performer
        name="vein"
        img1="vein"
        img2="NOIMG"
        start={{hr: 18, mn: 20}}
        invert={false}
        vol={vol}
    ></Performer>
    <Performer
        name="in the blue shirt & sbm"
        img1="in_the_blue_shirt"
        img2="sbm"
        start={{hr: 19, mn: 45}}
        invert={false}
        vol={vol}
    ></Performer>
</div>