---
type time = {
    hr: number,
    mn: number
}

import { type simplePalette, defaultPalette } from '../types'

interface Props {
    nVol: number,
    date: Date,
    timeFrom: time,
    timeTo: time,
    place0: string,
    place1: string,
    placeAddr?: string,
    hashtag: string,
    heldBy: string,
    imgName: string,
    colors?: simplePalette
}

const {nVol, date, timeFrom, timeTo, place0, place1, placeAddr, hashtag, heldBy, imgName, colors} = Astro.props

import { getDay, getYear, getMonth, getDate } from 'date-fns'

const dayOfWeek = ["SUN", "MON", "TUE", "WED", "THU", "FRI", "SAT"];
const day = dayOfWeek[getDay(date)]

import { google, type CalendarEvent } from 'calendar-link'
const startTime = structuredClone(date).setHours(timeFrom.hr, timeFrom.mn)
const endTime = structuredClone(date).setHours(timeTo.hr, timeTo.mn)
const calendarEvent: CalendarEvent = {
    title: "Flow vol." + nVol,
    description: "オーディオビジュアルイベント『Flow』の第" + nVol + "回。\n" + `https://flow-fellow.net/events/vol${nVol}\/`,
    start: startTime,
    end: endTime,
    location: placeAddr ? place1 + ', ' + placeAddr : place1
}

const gCalendarLink = google(calendarEvent)

import { Icon } from 'astro-icon/components'

---

<div class=`
    wrapper w-full h-full min-h-screen
    ${colors ? "text-color" : "text-stone-200"}
    flex justify-between items-center flex-col`>

    <p class="font-nijimi py-3">オーディオビジュアルイベント / フロウ vol.{nVol}</p>

    <div class="info font-shan w-4/5 md:w-1/3 pt-24">
        <h1 class=`font-nijimi mb-10`>
            <!-- <img src="/images/Flow_Logo_Large.webp" alt="Flowのロゴ" class=`w-full object-contain ${colors ? "variable-color-logo" : ""}` /> -->
            {!colors ? 
                (
                    <img src="/images/Flow_Logo_Large.webp" alt="Flowのロゴ" class="w-full object-contain" />
                )
                :
                (
                    <div class="variable-color-logo"></div>
                )
            }
        </h1>

        <ul>
            <!-- getmonth is 0-basis!!!!! -->
            <li>{getMonth(date) + 1}/{getDate(date)}. {day}</li>
            <li>
                {timeFrom.hr}:{String(timeFrom.mn).padStart(2, "0")}
                ~
                {timeTo.hr}:{String(timeTo.mn).padStart(2, "0")}
            </li>
        </ul>
        <ul>
            <li><small>at</small> {place0}</li>
            <li>
                on {place1}<br>
                {hashtag}
            </li>
        </ul>
        <div class="calendar">
            <a href=`${gCalendarLink}` target="_blank" class=`
                inline-block
                mt-3 p-2 border rounded-md
                transition-all
                ${colors ? "calendar-button-color" : "bg-gray-950"} hover:bg-opacity-50 bg-opacity-0`
            >
                <Icon class="inline-block w-6 h-auto" name="material-symbols-light:calendar-add-on-outline"></Icon>
                Add to Google Calendar
            </a>
        </div>
    </div>

    <div class="
        w-full flex
        flex-col sm:flex-row justify-around items-center gap-4
        px-5
        font-nijimi
        pb-3"
    >
        <p>参加無料・予約不要・入退室自由</p>

        <div class="flex gap-3 items-center">
            <p class="font-nijimi">Produced by</p>
            {!colors ? (
                heldBy == "HitaHita" ? (
                    <>
                        <p class="font-nijimi">{heldBy}</p>
                        <img src={`/images/${imgName}`} alt={`${heldBy}のロゴ`} style="height:30px; width:auto;" />
                    </>
                )
                :
                heldBy == "Fellow" ? (
                    <>
                        <img src={`/images/${imgName}`} alt={`${heldBy}のロゴ`} style="height:30px; width:auto;" />
                    </>
                )
                :
                (<div></div>)
            )
            :
            (
                <div class="variable-color-fellow-logo"></div>
            )}
                        
        </div>
    </div>
</div>

<style define:vars={colors ? colors : defaultPalette}>
    .variable-color-logo{
        width: 100%;
        aspect-ratio: 250 / 145;
        mask: url("/images/Flow_Logo_Large.webp") center no-repeat;
        mask-size: contain;
        background-color: var(--accent);
    }

    .variable-color-fellow-logo{
        height: 30px;
        aspect-ratio: 591 / 240;
        mask: url("/images/fellow_invert.webp") center no-repeat;
        mask-size: contain;
        background-color: var(--accent);
    }

    .text-color{
        color: var(--txt);
    }

    .calendar-button-color{
        color: var(--bg);
        background-color: color-mix(
            in srgb,
            var(--accent) 100%, transparent calc(100% - var(--tw-bg-opacity, 1) * 100%)
        );
    }

    .info ul{
        text-align: end;
        margin-top: .5rem;
        margin-top: .5rem;
    }

    .info ul li{
        font-size: 1.875rem;
        line-height: 2.25rem;
    }
    .info ul li:first-child{
        font-weight: bold;
    }
    .info ul li:last-child{
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    div.calendar{
        text-align: end;
    }
</style>