---
import Performer from "../Performer.astro"

const vol = 6

---

<div class="flex flex-col gap-12 xl:gap-5 p-3">
    <Performer
        name="ひきえび & MitaniMayu"
        img1="kosei_nakajima_1"
        img2="NOIMG"
        start={{hr: 18, mn: 20}}
        invert={false}
        vol={vol}
    ></Performer>
    <Performer
        name="高島"
        img1="takashima"
        img2="NOIMG"
        start={{hr: 18, mn: 40}}
        invert={false}
        vol={vol}
    ></Performer>
    <Performer
        name="M4ss0 & Fumiya Moro"
        img1="M4SS0"
        img2="NOIMG"
        start={{hr: 19, mn: 5}}
        invert={false}
        vol={vol}
    ></Performer>
    <Performer
        name="ははうま & sbm"
        img1="NOIMG"
        img2="sbm"
        start={{hr: 19, mn: 25}}
        invert={false}
        vol={vol}
    ></Performer>
    <Performer
        name="KEIMIN & にとりん"
        img1="NOIMG"
        img2="nitorin"
        start={{hr: 19, mn: 45}}
        invert={false}
        vol={vol}
    ></Performer>
</div>