---
import MinimumLayout from "../../layouts/MinimumLayout.astro";
import V3TopList from "../../components/v3/v3TopList.astro";
import V3Statements from "../../components/v3/v3Statements.astro";

import P5Bg from "../../components/P5bg.astro";

import Container from "../../layouts/Container.astro";
import Performer from "../../components/PerformerLegacy.astro";
import ExternalLinks from "../../components/ExternalLinks.astro";
import About from "../../components/About.astro";
import Footer from "../../layouts/Footer.astro";

import Content from "../../components/v3/Content.astro";
---

<MinimumLayout
    title="FLOW vol.3"
    desc="FLOWの第3回。2024年12月4日に開催。"
    favicon="/favicon.ico">

    <main>

        <P5Bg></P5Bg>

        <section id="top"
            class="py-5
            fullWid min-h-screen
            flex justify-between items-center flex-col"
            >
            <p class="font-nijimi">オーディオビジュアルイベント / フロウ vol.3</p>
            
            <div class="font-shan w-4/5 md:w-1/3 pt-24">
                <h1 class="font-nijimi mb-10">
                    <img src="/images/Flow_Logo_Large.webp" alt="Flowのロゴ" class="w-full object-contain">
                </h1>
        
                <div class="flex flex-col items-end">
                    <V3TopList upper="12/4.WED" lower="18:00~21:00"></V3TopList>
                    <V3TopList upper="at TERRACE GATE" lower="on Ritsumeikan Univ. OIC"></V3TopList>
                </div>
            </div>

            <div class="
                w-full flex
                flex-col sm:flex-row justify-around items-center gap-4
                px-5
                font-nijimi">
                <p>参加無料・予約不要・入退室自由</p>

                <div class="flex gap-2 items-center">
                    <p class="font-nijimi">Produced by HitaHita</p>
                    <img src="/images/poyo.webp" alt="HitaHitaのロゴ" style="height:50px; width:auto;">
                </div>
            </div>
        </section>

        <!-- BG FADE IN -->
         <div id="bg-fade"></div>

        <div id="bg-black">
            <section>
                <Container>
                    <h2 class="text-justify" style="margin-top: 0;">
                        Flowは<span class="text-3xl mx-1">「ひたる」</span>オーディオビジュアルイベントです。
                    </h2>

                    
                    <Content>
                        <div class="my-10 grid grid-cols-1 gap-10">
                            <V3Statements></V3Statements>
                        </div>
                    </Content>
                </Container>
            </section>

            <!-- <Container><hr></Container> -->

            <section id="performers">
                <Container>
                    <h2>Flow vol.3 出演者</h2>
                    <Content>
                        <div class="flex flex-col gap-12 xl:gap-5 p-3">
                            <Performer
                                name="vein+"
                                img1="vein_01"
                                img2="vein_02"
                                start={{hr: 18, mn: 0}}
                                invert={false}
                            ></Performer>
                            <Performer
                                name="ATm & にとりん"
                                img1="ATm"
                                img2="nitorin"
                                start={{hr: 18, mn: 25}}
                                invert={false}
                            ></Performer>
                            <Performer
                                name="早く寝ます & sbm"
                                img1="ruito_hasegawa"
                                img2="sbm"
                                start={{hr: 18, mn: 50}}
                                invert={false}
                            ></Performer><Performer
                                name="HitaHita"
                                img1="hitahita"
                                img2="NOIMG"
                                start={{hr: 19, mn: 15}}
                                invert={false}
                            ></Performer>
                            <Performer
                                name="EchoFrame"
                                img1="kosei_nakajima"
                                img2="shigemoto-reina"
                                start={{hr: 19, mn: 40}}
                                invert={false}
                            ></Performer>
                            <Performer
                                name="M4ss0 & 可ノウ 星"
                                img1="m4ss0"
                                img2="kanosei"
                                start={{hr: 20, mn: 5}}
                                invert={false}
                            ></Performer>
                            <Performer
                                name="帰ってきたエイゾウくん"
                                img1="kondou"
                                img2="sbm"
                                start={{hr: 20, mn: 30}}
                                invert={false}
                            ></Performer>
                        </div>
                    </Content>
                </Container>
            </section>

            <!-- <Container><hr></Container> -->

            <section id="externalLinks">
                <Container>
                    <Content>
                        <ExternalLinks></ExternalLinks>
                    </Content>
                </Container>
            </section>

            <!-- <Container><hr></Container> -->

            <section id="about">
                <Container>
                    <h2>HitaHitaとは</h2>
                    <Content>
                        <About></About>
                    </Content>
                </Container>
            </section>

            <Footer></Footer>
        </div>

    </main>
</MinimumLayout>

<style>
    :root {
        --bg: #1e1cd0;
        --acc-light: #ffffff;
        --txt-light: var(--acc-light)
    }

    html{
        background-color: var(--bg);
        font-family: 'MaboroshiNoNijimi', serif;

        color: var(--txt-light);
    }

    hr{
        margin: 30px 20px;
    }

    h2{
        font-size: 1.8rem;
        margin: 15px 0;
        border-bottom: 1px dashed #fff;
        padding-bottom: 10px;
    }

    #bg-fade{
        height: 150px;
        background: rgb(80,80,80);
        background: linear-gradient(0deg, rgba(80,80,80,0.7) 0%, rgba(80,80,80,0) 100%);
    }
    #bg-black{
        background: rgb(80,80,80);
        background: linear-gradient(0deg, rgba(80,80,80,0.9) 0%, rgba(80,80,80,0.7) 100%);
    }

    /* SCROLL BAR */
    body {
    --sb-track-color: #2f2f33;
    --sb-thumb-color: #e2e2e2;
    --sb-size: 5px;
    }

    body::-webkit-scrollbar {
    width: var(--sb-size)
    }

    body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
    }

    body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
    border: 1px solid #484848;
    }

    @supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color)
                        var(--sb-track-color);
    }
    }
</style>