---
import Performer from "../Performer.astro"

const vol = 7

---

<div class="flex flex-col gap-12 xl:gap-5 p-3">
    <Performer
        name="DJ Yeezy Boost 350 V2 & Chihiro"
        img1="dj_yeezy_boost_350_v2"
        img2="chihiro"
        start={{hr: 18, mn: 20}}
        invert={false}
        vol={vol}
    ></Performer>
    <Performer
        name="GRIFFITH & きむらこうや"
        img1="griffith"
        img2="kimura-koya"
        start={{hr: 18, mn: 40}}
        invert={false}
        vol={vol}
    ></Performer>
    <Performer
        name="ハト & croco"
        img1="M4SS0"
        img2="M4SS0"
        start={{hr: 19, mn: 5}}
        invert={false}
        vol={vol}
    ></Performer>
    <Performer
        name="fukuza_y & Fumiya Moro"
        img1="M4SS0"
        img2="fumiyamoro"
        start={{hr: 19, mn: 25}}
        invert={false}
        vol={vol}
    ></Performer>
    <Performer
        name="braven"
        img1="braven"
        img2="NOIMG"
        start={{hr: 19, mn: 50}}
        invert={false}
        vol={vol}
    ></Performer>
    <Performer
        name="さわっくま & 米田"
        img1="M4SS0"
        img2="yoneda"
        start={{hr: 20, mn: 15}}
        invert={false}
        vol={vol}
    ></Performer>
</div>